title "CypherWeavers' Cafe"

neighbor "xxiivv" "https://webring.xxiivv.com" type="ring"

node "https://www.aphrodite.dev" \
	label="aphrodite.dev" \
	badge="https://www.aphrodite.dev/assets/badges/badge.gif" {
	social "https://octodon.social/@Scarlet" "@Scarlet@octodon.social"
	bio "ΔΘ do[ggo|ll]; i need lots of headpats and treats 🥺"
	bio "Broken cryptid coding weird shit once a year or so."

	knows "xxiivv"
}

node "https://blog.nemirwen.me/" \
	label="blog.nemirwen.me" \
	badge="https://blog.nemirwen.me/favicon.ico"

node "http://retroweb.nononymous.fr/" \
	label="retroweb" \
	badge="http://retroweb.nononymous.fr/images/retroweb_logo_negatif.png" {
	social "https://pipou.academy/@nononymous" "@nononymous@pipou.academy"
}

node "https://oniricorpe.eu/" \
	label="OniriCorpe — Émy" \
	badge="https://oniricorpe.eu/700736564128645271.webp" {
	social "https://octodon.social/@OniriCorpe" "@OniriCorpe@octodon.social [fr]"
	social "https://woof.tech/@CyberSaloperie" "@CyberSaloperie@woof.tech [en]"
	bio "glitched thing trying their best 🍃"
}
